AddDefaultCharset utf-8

# Включаем modwrite
RewriteEngine on
RewriteBase /myframework/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Все запросы перенапраляем в index.php
RewriteRule ^(.*)$ index.php